/** @format */

main {
  background-color: #ddd;
}

.navBar {
  list-style-type: none;
}

.fig {
  width: 300px;
  height: 200px;
}

table {
  border: 1px solid black;
  margin: 50px;
}

td,
th {
  margin: 1px;
  border: 1px solid black;
}
